{% extends 'Pickup-Vehicle/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/wasteP_entry1">
    {% csrf_token %}
  <table >
    <tr>
      <th scope="row" class="text-white">Waste type</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" value="{{ data.WASTEDETAILS.wasteType }}" id="textfield" readonly class="form-control"/></td>
    </tr>
    <tr>
{#      <th scope="row"><p>Waste quantity</p></th>#}
      <td colspan="2"><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required placeholder="Waste Quantity" class="form-control" /></td>
    </tr>
      <tr>
{#      <th scope="row"><p>Amount</p></th>#}
      <td colspan="2"><label for="textfield3"></label>
      <input type="number" name="textfield3" id="textfield3" value="50" readonly placeholder="amount" class="form-control"/></td>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Add" class="btn btn-success py-2 px-3"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}