{% extends 'Pickup-Vehicle/index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/set_collection_date_post/{{ id }}">
    {% csrf_token %}
  <table class="text-white">
    <tr>
      <th scope="col">Date</th>
      <th scope="col"><label for="textfield" class=""></label>
      <input type="date" name="textfield" id="textfield" required class="form-control"/></th>
    </tr>
    <tr align="center">
      <td colspan="2"><input type="submit" name="button" id="button" value="Add" class="btn btn-primary py-2 px-3"/></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
