<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="215" border="1">
    <tr>
      <td width="205"><a href="/allocated_area_pickup">View-Allocated-Area</a></td>
    </tr>
    <tr>
      <td><a href="/view_wasteDetails_pickup">View Waste Details</a></td>
    </tr>
    <tr>
      <td><a href="/view_wasteEntry">View-WasteEntry</a></td>
    </tr>
    <tr>
      <td><a href="/view_cashEntry">View-Cash-Entry</a></td>
    </tr>
    <tr>
      <td><a href="/view_notification_Pickup">View-Notification</a></td>
    </tr>
    <tr>
      <td><a href="/change_password_pickup">Change-Password</a></td>
    </tr>
      <tr>
      <td><a href="/todayCollection">Todays Collection</a></td>
    </tr>
  </table>
</form>
</body>
</html>
