{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/add_krishibhavan_post">
    {% csrf_token %}
  <table width="500">
    <tr>
{#      <th width="293" scope="col">Name :</th>#}
      <th colspan="2"><label for="textfield"></label>
      <input class="form-control" placeholder="Name" type="text" name="textfield" id="textfield" required/></th>
    </tr>
    <tr>
{#      <td>Place: </td>#}
      <td colspan="2"><label for="textfield2"></label>
      <input class="form-control" placeholder="Place" type="text" name="textfield2" id="textfield2" required /></td>
    </tr>
    <tr>
{#      <td>Pincode :</td>#}
      <td colspan="2"><label for="textfield3"></label>
      <input class="form-control" placeholder="Pin code" type="text" name="textfield3" id="textfield3" required pattern="[6][0-9]{5}"/></td>
    </tr>
    <tr>
{#      <td>latitude</td>#}
      <td colspan="2"><label for="textfield4"></label>
      <input class="form-control" placeholder="Latitude" type="text" name="textfield4" id="textfield4" required/></td>
    </tr>
    <tr>
{#      <td>longitude</td>#}
      <td colspan="2"><label for="textfield5"></label>
      <input class="form-control" placeholder="Logtitude" type="text" name="textfield5" id="textfield5" required /></td>
    </tr>
    <tr>
{#      <td>E-mail</td>#}
      <td colspan="2"><label for="textfield6"></label>
      <input class="form-control" placeholder="E-mail" type="email" name="textfield6" id="textfield6" required/></td>
    </tr>
    <tr>
{#      <td>Phone number :</td>#}
      <td colspan="2"><label for="textfield7"></label>
      <input class="form-control" placeholder="Phone Number" type="text" name="textfield7" id="textfield7" maxlength="10" pattern="[6-9][0-9]{9}" required/></td>
    </tr>
       <tr>
            <td><div id="gmap"></div></td>
        </tr>
    <tr align="center">
      <td colspan="2"><input class="btn btn-primary py-2 px-5" type="submit" name="button" id="button" value="Add" /></td>
    </tr>
  </table>
</form>
</body>
</html>
     <style type="text/css">
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }
</style>

<!-- <script type="text/javascript"
add googlemap api
</script> -->
<script type="text/javascript">

    var map;
        function initialize() {
            var myLatlng = new google.maps.LatLng(11.618061975930,75.36565089010);
            var myOptions = {
                zoom:7,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("textfield4").value = clickLat.toFixed(5);
                document.getElementById("textfield5").value = clickLon.toFixed(5);

{#                  var marker = new google.maps.Marker({#}
{#                        position: new google.maps.LatLng(clickLat,clickLon),#}
{#                        map: map#}
{#                     });#}
            });
    }

    window.onload = function () { GetMylocation() };


</script>
     <style>
 div#gmap {

        width: 600px;
        height: 200px;
        border:double;
 }
    </style>

{#    <form id="form1" runat="server">#}
<center>
<!-- MAP HOLDER -->

<!-- REFERENCES -->
{#Lat: <input type="text" id='lat'>#}
{#Lon: <input type="text" id='lon'>#}

</center>




<script>

function GetMylocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    //x.innerHTML = "Geolocation is not supported by this browser.";
      alert("Geolocation is not supported by this browser.")
  }
}
var x1 = document.getElementById("textfield4");
var x2 = document.getElementById("textfield5");
var map;
function showPosition(position) {
  x1.value=position.coords.latitude;
  x2.value=position.coords.longitude;

  var myLatlng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
            var myOptions = {
                zoom:14,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("gmap"), myOptions);
            // marker refers to a global variable
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            google.maps.event.addListener(map, "click", function(event) {
                // get lat/lon of click
                var clickLat = event.latLng.lat();
                var clickLon = event.latLng.lng();

                // show in input box
                document.getElementById("textfield4").value = clickLat.toFixed(5);
                document.getElementById("textfield5").value = clickLon.toFixed(5);

{#                  var marker = new google.maps.Marker({#}
{#                        position: new google.maps.LatLng(clickLat,clickLon),#}
{#                        map: map#}
{#                     });#}
            });


}
</script>

{% endblock %}
