{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/add_pickupVehicle_post">
    {% csrf_token %}
  <table width="500">
    <tr>
{#      <th width="176" scope="col">Phone Number</th>#}
      <th colspan="2"><label for="textfield"></label>
      <input class="form-control" placeholder="Phone Number" type="text" name="textfield" id="textfield" pattern="[6-9][0-9]{9}" required/></th>
    </tr>
    <tr>
{#      <th width="176" scope="col">E mail</th>#}
      <th colspan="2"><label for="textfield"></label>
      <input class="form-control" placeholder="Email" type="email" name="textfield1" id="textfield"  required/></th>
    </tr>
    <tr>
{#      <td>Vehicle Number</td>#}
      <td colspan="2"><label for="textfield2"></label>
      <input class="form-control" placeholder="Vehicle Number" type="text" name="textfield2" id="textfield2" required/></td>
    </tr>
    <tr>
{#      <td>Model</td>#}
      <td colspan="2"><label for="textfield3"></label>
      <input class="form-control" placeholder="Model" type="text" name="textfield3" id="textfield3" required /></td>
    </tr>
    <tr>
{#      <td>Fuel - Type</td>#}
      <td colspan="2"><label for="textfield4"></label>
      <select name="textfield4" class="form-control">
          <option>Diesel</option>
          <option>Petrol</option>
      </select></td>
    </tr>
    <tr align="center">
      <td colspan="2"><input class="btn btn-primary py-2 px-5" type="submit" name="button" id="button" value="Add" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
