<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<ul>
{#  <li><a href="/add_material">add material</a></li>#}
  <li><a href="/view_material">view material</a></li>
  <li><a href="/add_area">add area</a></li>
  <li><a href="/view_area">view area</a></li>
  <li><a href="/add_krishibhavan">add krishibhavan</a></li>
  <li><a href="/view_krishibhavan">view krishibhavan</a></li>
  <li><a href="/add_pickupVehicle">add pickup vehichle</a></li>
  <li><a href="/view_pickupVehicle">view pickup vehicle</a></li>
  <li><a href="/view_registeredUser">view registered user</a></li>
  <li><a href="/view_pickupReports">view pick up reports</a></li>
  <li><a href="/view_payment">view payment</a></li>
  <li><a href="/add_notification">add notification</a></li>
  <li><a href="/view_notification">view notification</a></li>
  <li><a href="/view_complaint">view complaint</a></li>
  <li><a href="/view_feedback">view feedback</a></li>
  <li><a href="/change_password">change password</a></li>
  <li><a href="/view_allocated_area">View Allocated Area</a></li>
</ul>
<p>&nbsp;</p>
</body>
</html>
