{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/change_password_post">
    {% csrf_token %}
  <table width="500">
    <tr>
{#      <th width="395" scope="col">Current Password</th>#}
      <th colspan="2"><label for="textfield"></label>
      <input class="form-control" placeholder ="Current Password" type="password" name="textfield" id="textfield" required /></th>
    </tr>
    <tr>
{#      <td>New Password</td>#}
      <td colspan="2"><label for="textfield2"></label>
      <input class="form-control" placeholder="New Password" type="password" name="textfield2" id="textfield2" required /></td>
    </tr>
    <tr>
{#      <td>Confirm Password</td>#}
      <td colspan="2"><label for="textfield3"></label>
      <input class="form-control" placeholder="Confirm Password" type="password" name="textfield3" id="textfield3" required /></td>
    </tr>
    <tr align="center">
      <td colspan="2"><input class="btn btn-primary py-2 px-5" type="submit" name="button" id="button" value="Update"  /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}