{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="text-white table">
    <tr>
      <th width="56" scope="col">SI No</th>
      <th width="112" scope="col">User Name</th>
      <th width="97" scope="col">Feedback</th>
      <th width="85" scope="col">Date</th>
{#        <th width="196" scope="col">Pickup Vehicle Number</th>#}
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.USER.name }}</td>
      <td>{{ i.feedback }}</td>
      <td>{{ i.date }}</td>
{#      <td>{{ i.PICKUPVEHICLE.vehicleNumber }}</td>#}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
