{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table class="table text-white ">
  <tr>
    <th width="53" scope="col">SI No.</th>
    <th width="127" scope="col">Phone Number</th>
    <th width="127" scope="col">Email</th>
    <th width="136" scope="col">Vehicle Number</th>
    <th width="154" scope="col">Model</th>
    <th width="80" scope="col">Fuel type</th>
    <th width="198" scope="col">&nbsp;</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{forloop.counter }}&nbsp;</td>
    <td>&nbsp;{{ i.phoneNumber }}</td>
    <td>{{ i.email }}</td>
    <td>&nbsp;{{ i.vehicleNumber }}</td>
    <td>&nbsp;{{ i.model }}</td>
    <td>&nbsp;{{ i.fuelType }}</td>
    <td>
        <div class="w-50">
        <p><a href="/update_pickupVehicle/{{ i.id }}#aaa" class="btn btn-warning py-2 w-100">Update</a></p>
        <p><a href="/delete_pickupVehicle/{{ i.id }}" class="btn btn-danger py-2  w-100" onclick="return confirm('Are You Sure?')">Delete</a></p>
        <p><a href="/area_allocate/{{ i.id }}#aaa" class="btn btn-light py-2 w-100" >Allocate</a></p>
        </div>
    </td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}