{% extends 'Krishibhavan/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/changePassword_POST_KR">
    {% csrf_token %}
  <table width="500">
    <tr>
{#      <th width="292" scope="row">Current Password</th>#}
      <td width="198" colspan="2"><label for="textfield"></label>
      <input type="password" name="textfield" id="textfield"  placeholder="Current Password" required class="form-control"/></td>
    </tr>
    <tr>
{#      <th scope="row">New Password</th>#}
      <td colspan="2"><label for="textfield2"></label>
      <input type="password" name="textfield2" id="textfield2" required class="form-control" placeholder="New Password"/></td>
    </tr>
    <tr>
{#      <th scope="row">Confirm Password</th>#}
      <td colspan="2"><label for="textfield3"></label>
      <input type="password" name="textfield3" id="textfield3" required placeholder="Confirm Password" class="form-control"/></td>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" class="btn btn-primary py-2 px-3"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}