
{% extends 'Krishibhavan/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<ul>
  <li><a href="/ViewProfile">View Profile</a></li>
  <li><a href="/AddMaterial">Add Material</a></li>
  <li><a href="/ViewMaterial">View Material</a></li>
  <li><a href="/ViewMaterilOrder">View Material Orders</a></li>
  <li><a href="/ViewVegetablesOfUsers">View-VegetablesOf-Users</a></li>
  <li><a href="/ViewRequestStatus">View Request Status</a></li>
  <li><a href="/ViewVegetableStock">View-Vegetable-Stock</a></li>
  <li><a href="/ViewVegetableOrders">View Vegetable Orders</a></li>
  <li><a href="/ViewNotification">View Notification</a></li>
  <li><a href="/changePassword">Change Password</a></li>
  <li><a href="/todayApprovedRequest">Todays Approved Request</a></li>
</ul>
</body>
</html>
{% endblock %}
