{% extends 'Krishibhavan/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/updatevegetableStockPOST/{{ id }}">
    {% csrf_token %}
  <table width="500" class="text-white">
      <input type="hidden" value="{{ quantity }}" name="qty"/>
    <tr>
      <th width="223" scope="row">Vegetable Name</th>
      <td width="228"><label for="textfield2"></label>
      <input type="text" name="textfield" value="{{ vegtblename }}" id="textfield2" class="form-control" /></td>
    </tr>
    <tr>
      <th scope="row">Price</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield2" value="{{ data }}" min="10" id="textfield3" class="form-control"/></td>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Update" class="btn btn-primary py-2 px-3 " /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
