{% extends 'Krishibhavan/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="500" class="text-white table">
  <tr>
    <th width="227" height="46" scope="row">Date</th>
    <td width="181">Notification</td>
  </tr>
    {% for i in data %}
  <tr>
    <th>{{ i.date }}</th>
    <td>{{ i.notification }}</td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}