{% extends 'Krishibhavan/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="500" class="text-white table">
  <tr>
    <th width="418" scope="row">Name</th>
    <td width="197">{{ data.name }}&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">Place</th>
    <td>&nbsp;{{ data.place }}</td>
  </tr>
  <tr>
    <th scope="row">Pincode</th>
    <td>&nbsp;{{ data.pinCode }}</td>
  </tr>
  <tr>
    <th scope="row">Latitude</th>
    <td>{{ data.latitude }}</td>
  </tr>
  <tr>
    <th scope="row">Longtitude</th>
    <td>&nbsp;{{ data.logtitude }}</td>
  </tr>
  <tr>
    <th scope="row">Email</th>
    <td>&nbsp;{{ data.email }}</td>
  </tr>
  <tr>
    <th scope="row">Phone Number</th>
    <td>{{ data.phoneNumber }}</td>
  </tr>
</table>
</body>
</html>
{% endblock %}
