{% extends 'Krishibhavan/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="500" class="text-white table">
  <tr>
    <th width="43" scope="col">SI No</th>
    <th width="147" scope="col">Material Name</th>
    <th width="54" scope="col">Price</th>
    <th width="92" scope="col">Quantity</th>
    <th width="97" scope="col">Total</th>
  </tr>
    {%for i in data %}
  <tr>
    <td>&nbsp;{{forloop.counter  }}</td>
    <td>&nbsp;{{ i.Materialname}}</td>
    <td>&nbsp;{{ i.price }}</td>
    <td>{{ i.Quantity }}</td>
    <td>{{ i.total }}</td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}