{% extends 'Krishibhavan/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="500" class="text-white table">
  <tr>
    <th width="126" scope="col">SI No</th>
    <th width="153" scope="col">User Name</th>
    <th width="194" scope="col">Vegetable Name</th>
    <th width="108" scope="col">Quantity</th>
    <th width="201" scope="col">Price</th>
    <th width="201" scope="col">Date</th>
    <th width="201" scope="col">Satus</th>
    <th width="201" scope="col"></th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.VEGETABLE.USER.name }}</td>
    <td>{{ i.VEGETABLE.vegetableName }}</td>
    <td>{{ i.Quantity }}</td>
    <td>{{ i.Price}}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.status }}</td>
    <td><a href="/deleteRequest/{{ i.id }}" onclick="return confirm('Are You Sure?')" class="btn btn-danger py-2 px-3">Delete</a></td>
  </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}
